<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
      <classes>
      <class name="pomTest.BaseTest"/>
       <class name="pomPage.LoginPage"/>
       <class name="pomTest.LoginTest"/>
       <class name="pomTest.DashboardTest"/>
       <class name="pomPage.DashboardPage"/>
    </classes>
  
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
